.secret {
	position: fixed;
	bottom: 2em;
	right: 2em;
	color: #c31425;
	text-decoration: none !important;
	padding: .5em;
	margin: .75em 0 0 .75em;
	cursor: default;
}

.greenWrapper {
	position: relative;
	width: 100vw;
	height: 100vh;
	overflow: hidden;

	img {
		position: absolute;
		width: auto;
		height: 75vh;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}