<div class="greenWrapper">
	<img [@status]="revealed ? 'visible' : 'hidden'" (click)="changeStatus()" [src]="'assets/images/face/' + _sel.selected.suit.id + '_' + _sel.selected.rank.id + '.png'" />
	<img [@status]="revealed ? 'hidden' : 'visible'" (click)="changeStatus()" [src]="'assets/images/back/' + _sel.selected.back.id + '.png'" />
</div>
<a class="secret" [routerLink]="['/settings']">.</a>
