<div class="greenWrapper">
	<div class="settings">
		<h2>Settings</h2>
		<div class="firstRowControls">
			<ul class="backControl">
				<li *ngFor="let color of backs">
					<img src="assets/images/back/{{color.id}}.png" (click)="selectBack(color)" alt="{{color.name}}" title="{{color.name}}">
				</li>
			</ul>
			<div class="grow"></div>
			<ul class="suitControl">
				<li *ngFor="let suit of suits">
					<img src="assets/images/suits/{{suit.id}}.png" (click)="selectSuit(suit)" alt="suit.name" title="suit.name" />
				</li>
			</ul>
		</div>

		<div class="secondRowControls">
			<ul class="rankControl">
				<li *ngFor="let rank of ranks">
					<a (click)="selectRank(rank)">{{rank.name}}</a>
				</li>
			</ul>
		</div>
	</div>
	<div class="previews">
		<h2>Preview</h2>
		<div class="preview backPreview">
			<img src="assets/images/back/{{_sel.selected.back.id}}.png" />
		</div>
		<div class="preview facePreview">
			<img src="assets/images/face/{{_sel.selected.suit.id}}_{{_sel.selected.rank.id}}.png" />
		</div>
	</div>
	<span class="secret">.</span>
	<br class="clearfix" />
</div>