.greenWrapper {
	padding-top: 4em;
	
	.settings {
		width: 100%;
		display: flex;
		align-items: center;
		flex-direction: column;
		margin: 2em auto;

		.firstRowControls, .secondRowControls {
			display: flex;
			align-items: center;
			flex-direction: row;
			width: 90vw;

			.backControl, .suitControl, .rankControl {
				display: flex;
				align-items: center;
				flex-direction: row;
				margin: 1.2em auto;

				li {
					cursor: pointer;

					img {
						width: 2.2em;
						height: auto;
					}

					a {
						font-size: 1.5em;
						width: 2.2em;
						color: white;
						outline: none !important;
						background-color: transparent;
					}
				}
			}

			.backControl, .suitControl {
				li {
					padding: .15em .5em;
					text-align: center;
				}
			}


			.rankControl {
				display: flex;
				align-items: center;
				width: 100%;

				li {
					flex-grow: 1;
					padding: .15em .2em;
					text-align: center;
				}
			}
		}
	}

	h2 {
		color: white;
		width: 100%;
		text-align: center;
		text-transform: uppercase;
		font-size: 2.2em;
	}

	.previews {
		width: 100%;
		clear: both;
		background: none;
		text-align: center;
		position: relative;
		float: left;

		.preview {
			width: 40%;
			display: inline-block;
			margin: 4% 2%;
		}

		.preview img {
			width: 100%;
			height: auto;
		}
	}



	.secret {
		position: fixed;
		bottom: 2em;
		right: 2em;
		color: #c31425;
		text-decoration: none !important;
		border: 1px solid #c31425;
		padding: .2em;
		margin: .75em 0 0 .75em;
		font-size: 1.2em;
	}

	.secret:before {
		content: "This is the SECRET return button ";
		background: #c31425;
		color: white;
		margin-right: 1em;
		padding: .2em
	}
}