
<div class="blackBg">
	<div class="header" >
		<img src="assets/images/whiteFullLogo.png" />
		<img src="assets/images/greenAll.jpg" />
	</div>
	<div class="memories">
		<iframe class="video" src="https://player.vimeo.com/video/101430611" width="1280" height="724" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
	</div>
	<div class="getstarted">
		<h2>Get started</h2>
		<p>You will need:</p>
		<ol>
			<li>a real deck of playing cards</li>
			<li>to know how to 'force' somebody of the public to draw the card of your election</li>
			<li>setup the card of the prediction in the settings tab, the default is the BlackJack</li>
			<li>go to the game tab and show the back of the card</li>
			<li>do the trick with the best of your misdirection and entertainment skills</li>
			<li>tap the card reveal your Apprediction</li>
			<li>get back to the app with the "secret" red point at the right bottom, don't reveal the setup part to the public, keep it for magicians only</li>
		</ol>
	</div>
</div>