.blackBg {
	width: 100%;
	height: 100%;
	background-color: black;

	.header {
		width: 100%;
		padding: 0;
		margin-top: 7em;

		img {
			width: 100%;
			height: auto;
			float: left;
		}
	}

	

	.memories {
		background-color: black;
		float: left;
		clear: both;
		width: 100%;

		.video {
			margin: 2em auto;
		    clear: both;
		    width: 100vw;
		    height: 56.1vw;
		    text-align: center;
		}
	}


	.getstarted {
		background: black;
	    color: #dedede;
	    font-family: "Roboto Slab", serif;
	    font-size: 1.4em;
	    padding: 2em;

	    h2 {
	    	text-transform: uppercase;
	    	text-align: center;
	    	padding: 1em auto;
	    }

	    p {
	    	margin-inline-start: 0em;
	    }

	    ol {
	    	padding-inline-start: 2em;
	    }
	}
}