.menu, .externalLinks {
	height: 3.7em;
	padding: 0 5vw;
	background-color: black;
	position: fixed;
	z-index:9;
	display: flex;
	align-items: center;
	top: 0;

	&.hidden {
		opacity: 0;
	}

	.menuItem {
		text-align: center;
		z-index: 10;

		i {
			color: white;
			font-size: 3em;
			margin: 0 .25em 0 0;
		}

		&.lc i {
			color: #ac74e5;
			margin: 0 0 0 .25em;
		}

		&.link-active i {
			color: #c31425;
		}

		img {
			width: auto;
			height: 1em;
			margin: 0 .25em 0 0;
			font-size: 3em;
		}
	}
}

.menu {
	left: 0;
	width: 70%;
}

.externalLinks {
	right: 0;
	width: 30%;
}

.spacer {
	height: 3.7em;
	width: 100%;
}

.installBtn {
	display: flex;
	align-items: center;
	z-index: 100;
	position: fixed;
	bottom: 1vw;
	left: 50vw;
	transform: translateX(-50%);
}

.btn {
  padding: .6em .8em .3em;
  background-color: black;
  border: 1px solid red;
  color: white;
  text-transform: uppercase;
  font-size: 1.4em;
  cursor: pointer;
}