<nav class="menu {{gameActive.isActive ? 'hidden' : ''}}">
  <a alt="home" title="home" routerLinkActive="link-active" routerLink="/explanation" #homeActive="routerLinkActive" class="menuItem home">
    <img *ngIf="homeActive.isActive" src="assets/images/iconRed.png" />
    <img *ngIf="!homeActive.isActive" src="assets/images/iconWhite.png" />
  </a>
  <a alt="settings" title="settings" routerLinkActive="link-active" routerLink="/settings" #settingsActive="routerLinkActive" class="menuItem">
    <i class="material-icons">settings</i>
  </a>
  <a alt="game" title="game" routerLinkActive="link-active" routerLink="/game" #gameActive="routerLinkActive" class="menuItem">
    <i class="material-icons">brightness_auto</i>
  </a>
</nav>
<nav class="externalLinks {{gameActive.isActive ? 'hidden' : ''}}">
  <div class="grow"></div>
  <a class="menuItem lc" alt="> LET'S CODE" title="> LET'S CODE" href="https://letscode.es" target="_blank">
    <i class="material-icons">keyboard_arrow_right</i>
  </a>
</nav>
<router-outlet></router-outlet>
<button class="btn installBtn" *ngIf="_pwa.promptEvent && !_pwa.appInstalled" (click)="installPwa()">
  INSTALL THE APP
</button>