@import '~@angular/material/prebuilt-themes/purple-green.css';

/* You can add global styles to this file, and also import other style files */
@import url("//hello.myfonts.net/count/33da92");
@font-face {font-family: 'FuturaStd-Medium';src: url('/assets/webfonts/33DA92_0_0.eot');src: url('/assets/webfonts/33DA92_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/webfonts/33DA92_0_0.woff2') format('woff2'),url('/assets/webfonts/33DA92_0_0.woff') format('woff'),url('/assets/webfonts/33DA92_0_0.ttf') format('truetype');}

*, html {
	margin: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0) !important;
	font-family: FuturaStd-Medium, sans-serif;
	padding: 0;
}

body {
	margin: 0 !important;
	padding: 0 !important;
	width: 100%;
	height: 100%;
}

.clearfix {
	width: 100%;
	position: absolute;
	clear: both;
}

ul {
	list-style: none;
}

a {
	cursor: pointer;
}

.grow {
	flex-grow: 1;
}

.greenWrapper {
	background-color: #003311;
}